{% extends 'base.html' %}
{% load static %}
{% load custom_filters %} 

{% block title %}Mon Bureau Virtuel{% endblock %}

{% block content %}
    <div class="desktop">
        {% for file in files %}
            {% if file.name|slice:":9" == "/Desktop/" %}
                <div class="file-icon" ondblclick="openFile('{{ file.id }}','{{ file.file_type }}', '{{ file.name }}', '{{ csrf_token }}')" onclick="selectIcon(this)">
                    <img src="{% static 'icons/' %}{{ file.file_type }}.png" alt="{{ file.file_type }}">
                    <div class="file-name">{{ file.name|basename }}</div>
                </div>
            {% endif %}
        {% empty %}
            <p style="color: white; text-shadow: 1px 1px 2px black;">Aucun fichier pour l'instant.</p>
        {% endfor %}

        <div class="file-icon" ondblclick="openExplorer('{{ csrf_token }}')"  onclick="selectIcon(this)">
            <img src="{% static 'icons/explorer.png' %}" alt="Explorateur">
            <div class="file-name">Explorateur</div>
        </div>

        <div id="explorer-modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeExplorer()">&times;</span>
                <h2>Explorateur de Fichiers</h2>
                <div id="buttonContainer">
                    <button id="backButton" onclick="goBack()">⬅ Retour</button>
                    <div>
                        <button id="mkdir" onclick="">📁</button>
                        <button id="uploadButton" onclick="">⬇ Importer ici</button>
                        
                    </div>
                    
                </div>
                
                <div id="file-list"></div>
            </div>
        </div>
        
        <div id="image-viewer" class="modal">
            <span class="close" onclick="closeImageViewer()">&times;</span>
            <img id="viewer-img" class="modal-content">
        </div>


        <div id="text-editor" class="modal">
            <div class="modal-content" style="display: flex; flex-direction: column; height: 100%;padding:0;">
                <div> 
                    <span class="close" onclick="openPopup()">&times;</span>
                    <span id="file-name" style="float: left;"></span>
                </div>
                
                <textarea id="edit-text" style="flex-grow: 1; resize: none;"></textarea>
                <button id='save-button' onclick="" style="align-self: flex-end; margin-top: 10px;">Enregistrer</button>
            </div>
        </div>

        <div id="popup" class="modal">
            <span class="close" onclick="closePopup()">&times;</span>
            <p id="warning" class="modal-content">Enregisrer avant de quitter ?</p>
            <div style="position: absolute; bottom: 10px; right: 10px;">
                <button onclick="closePopup();closeTextEditor()">Quitter</button>
                <button id='save-button-popup' onclick="">Enregistrer</button>
            </div>
        </div>

        <div class="modal" id="upload-modal">
            <div class="modal-content" style="display: flex; flex-direction: column; height: 100%;background-color: #262626;padding: 10px;">
                <span class="close" onclick="closeUpload()">&times;</span>
                <form method="post" enctype="multipart/form-data" action="/files/upload/">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input id="path" type="hidden" name="path" value="">
                    <button type="submit">Télécharger</button>
                </form>
            </div>
        </div>

        <div class="modal" id="mkdirModal">
            <div class="modal-content" style="display: flex; flex-direction: column; height: 100%; background-color: #262626;padding: 10px;">
                <span class="close" onclick="closeMkdir()">&times;</span>
                <form method="post" enctype="multipart/form-data" action="/files/mkdir/">
                    {% csrf_token %}
                    <label for="name">Nom du dossier</label>
                    <input type="text" name="name" id="name">
                    <input id="pathMkdir" type="hidden" name="path" value="">
                    <button type="submit">Créer</button>
                </form>
            </div>
        </div>

    </div>
    <script src="{% static 'js/desktop.js' %}"> </script>
    



{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/desktop.css' %}">
{% endblock %}






