{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Bureau Virtuel{% endblock %}</title>

    {% block extra_head %}
    <!-- Tout code supplémentaire (CSS, JS) ici -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    {% endblock %}
</head>
<body>
    <!-- Menu de navigation -->
    {% include 'navbar.html' %}

    <!-- Zone de connexion pour les utilisateurs non authentifiés -->
    <nav>
        {% if user.is_authenticated %}
            <!-- Les utilisateurs connectés peuvent voir un menu supplémentaire ou autre ici -->
        {% else %}
            <a href="{% url 'login' %}">Connexion</a> | <a href="{% url 'register' %}">Inscription</a>
        {% endif %}
    </nav>

    <!-- Contenu de la page -->
    <div class="content">
        {% block content %}
        <!-- Le contenu spécifique à chaque page viendra ici -->
        {% endblock %}
    </div>

    {% block extra_footer %}
    <!-- Footer, JS, etc. -->
    {% endblock %}
</body>
</html>
